h1 {
    color: black;
    font-size: 40px;
    text-align: center;
}

h2 {
    margin-top: -38px;
    text-align: center;
}
h3{
    margin-top: 100;
    color: rgb(255, 255, 255);
    font-size: 22px;
}
h4 {
    color:rgb(0, 0, 0);
    font-size: 22px;
}
h5 {
    font-size:90px;
    margin-top: -40;
}
h6 {
    margin-top: -90;
    color: rgb(255, 255, 255);
    font-size: 22px;
}


img {
    filter: grayscale(70%);
    width: 1222px;
    height: 450px;
    display: inline-block;
    position: relative;
}





body {
    background-color:rgb(247, 223, 188);
    
}